body {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}
:root {
  --brand-color: #434455;
}
.logo-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.54px;
}

.logo-studio {
  color: #2e2f42;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.studio-portfolio-contacts {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.32px;
}
.studio-portfolio-contacts:hover,
.studio-portfolio-contacts:focus {
  color: #404bbf;
}
.contacts {
  color: var(--brand-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.second-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
}
.third-header {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.button-order-service {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: inherit;
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}
.description {
  color: var(--brand-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-heading {
  background: #2e2f42;
}
.footer-background {
  background: #2e2f42;
}
.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
button {
  cursor: pointer;
}
.service button {
  color: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
}
.service button:hover,
.service button:focus {
  background-color: #404bbf;
  color: white;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.our-team {
  background: var(--cloud, #f4f4fd);
}
